@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* Page Resets */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Landing Page Colour Scheme */

:root {
  --hero-bg: #1f2937;
  --footer-bg: #1f2937;
  --hero-main-text: #f9faf8;
  --hero-secondary-text: #e5e7eb;
  --header-logo-text: #f9faf8;
  --cta-btn: #3882f6;
  --info-header-text: #1f2937;
  --quote-section: #e5e7eb;
  --quote-text: #1f2937;
}

body {
  display: flex;
  flex-direction: column;
  font-family: roboto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.header__container {
  background-color: var(--hero-bg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  color: var(--header-logo-text);
}

.hero__container {
  background-color: var(--hero-bg);
}

.header .logo {
  font-weight: 700;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.header nav ul li.highlight {
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid var(--cta-btn);
}

.header ul li a {
  text-decoration: none;
  color: var(--header-logo-text);
}

/* HERO SECTION */

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 0px;
  background-color: #1f2937;
}

.hero .col-left {
  flex: 1 1 48%;
}

.hero .col-right {
  flex: 1 1 48%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  color: var(--hero-main-text);
  font-size: 48px;
  margin-bottom: 12px;
}

.hero .subtext {
  font-size: 18px;
  font-weight: 300;
  color: var(--hero-secondary-text);
  margin-bottom: 12px;
}

.hero button {
  background-color: var(--cta-btn);
  display: block;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;

  font-size: 16px;
  font-weight: 600;
  color: var(--hero-main-text);
}

.hero img {
  width: 70%;
}

/* Info Section */

.info {
  text-align: center;
  padding: 40px 0 70px 0;
}

.info h2 {
  padding: 0 0 40px 0;
  font-size: 32px;
  color: var(--info-header-text);
}

.info-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 55px;
  text-align: center;
}

.item-container {
  flex: 1;
}

.info-box .item-icon {
  border: 3px solid var(--cta-btn);
  border-radius: 12px;
  height: 180px;
  margin: 0 auto;
  width: 180px;
}

.info-box .item-text {
  padding: 8px 0px;
  font-weight: 800;
  color: #1f2937;
}

/* Quote Section */

.quote__container {
  background-color: var(--quote-section);
}

.quote {
  background-color: var(--quote-section);
  padding: 32px 0;
  justify-content: center;
  align-items: center;
}

.quote .testimonial-text {
  padding: 50px 2.5% 5px 2.5%;
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
}
.quote .testimonial-author-align-right {
  padding: 0 5%;
  text-align: right;
}
.quote .testimonial-author {
  font-size: 24px;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 50px;
}

/* CTA Section */

.CTAsection {
}
